/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333131;
}

/* Estilizando o cabeçalho */
header {
    background-color: #333131;
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilizando as seções */
section {
    padding: 50px 0;
}

section#sobre {
    background-color: #fff;
}

section#projetos {
    background-color: #e9ecef;
}

section#contato {
    background-color: #fff;
}

/* Estilizando os containers */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Projetos */
.projeto {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando o formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #333131;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Estilizando o rodapé */
footer {
    background-color: #333131;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
